<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Fruktur" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>The Gun Show</title>
</head>
<body>
  <div id="app">
    <div class="container" v-if="signup">
      <div class="display-block">
        <img src="./images/guns.png" alt="title">
        <input type="text" v-model="Username" placeholder="Enter username">
        <button v-on:click="sendUsername">PLAY</button>
      </div>
    </div>
    <div class="container" v-if="waiting">
      <h1>How to play?</h1>
      <p>The objective of the game is to <span class="highlight">shoot the other player</span>.</p>
      <p>In order to shoot, you need bullets(ammo).</p> <p>You get ammo by reloading.</p>
      <p>You can deflect bullets by using a shield(block).</p>
      <p> However, you can only block 5 bullets before rendering yourself defenseless.</p>
      <p>If you are shot while reloading, you will die instantly.</p>
      <p>Ammo <img src="./images/ammo.png" alt="bullet" style="height: 50px; width:auto; margin-right: 50px">
      Shield <img src="./images/shield.png" alt="shield" style="height: 50px; width:auto"></p>
      <button v-on:click="confirmGameEntry" :disabled="!confirmGame">Duel!</button>
      <h2 v-if="!confirmGame">Finding you an opponent..</h2>
    </div>
    <div class="playing" v-if="playing">
      <div class="flex">
        <div class="section">
          <button class="play-buttons" v-bind:class="{ active: shootActive }" v-on:click="shoot" :disabled="!playerAmmo">shoot</button>
          <button class="play-buttons" v-bind:class="{ active: blockActive }" v-on:click="block">block</button>
          <button class="play-buttons" v-bind:class="{ active: reloadActive }" v-on:click="reload">reload</button>
        </div>
        <div class="section">
          <div> You chose: {{yourmove}} </div>
          <div> {{opponentName}} chose: <span class="waiting" v-if="playerwaiting">Ready</span> <span v-else>{{ opponentMove }}</span> </div>
          <div id="ammo-belt">
            <div id="ammo">
              <div class="display-flex" v-for="n in playerAmmo">
                <img src="./images/ammo.png" alt="bullet" style="height: 100%; width:auto; margin-right: 15px">
              </div>
              <div id="empty-ammo" v-if="!playerAmmo">
                You are unable to shoot!
              </div>
            </div>
            <span class="titles">Ammo Loaded</span>
          </div>
          <div id="shield-belt">
            <div id="shield">
              <div class="display-flex" v-for="n in gameshield">
                <img src="./images/shield.png" alt="bullet" style="height: 100%; width:auto">
              </div>
              <div id="empty-shield" v-if="!gameshield">
                You are unable to block!
              </div>
            </div>
            <span class="titles">Shield Life</span>
          </div>
        </div>
      </div>
      <div v-if="winner"><h1>You Win!</h1></div>
      <div v-if="loser"><h1>You Lose!</h1></div>
      <div v-if="gameEnd"><button v-on:click="sendNewGame">Play Again?</button></div>
    </div>
  </div>
  <script src="vue.js"></script>
  <script src="game.js"></script>
</body>
</html>
