*,*::after, *::before{
  box-sizing:border-box;
}

h1{
  font-family: 'Fruktur', cursive;
  font-size: 2.3rem;
  text-align: center;
  color: #540032;
}

h2{
  text-align: center;
  font-family: 'Fruktur', cursive;
}

p{
  font-family: 'Oswald', sans-serif;
}

.titles{
  font-family: 'Fruktur', cursive;
  font-size: 1.7rem;
}

#app{
  width: 100%;
}

.container{
  width: 30%;
  margin: 0 auto;
}

.display-block{
  width: 100%;
}

.display-block img{
  width: 100%;
  height: auto;
}


.display-block input{
  width: 100%;
  height: 65px;
  font-size: 2rem;
  border: 0;
  margin-bottom: 15px;
}

.display-block button, .container button{
  width: 80%;
  margin-left: 10% ;
  height: 65px;
  font-size: 1.9rem;
  border: 0;
  padding: 5px;
  background-color: #F04667;
  font-family: 'Fruktur', cursive;
}

.playing{
  width: 80%;
  margin: 250px auto 0;
}

.flex{
  display: flex;
  justify-content: space-around;
}

.section{
  width: 400px;
}

.play-buttons{
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  margin: 0 auto 15px;
  width: 90%;
  height: 75px;
  color: black;
  background-color: #FAC5AF;
}

button:disabled{
  background-color: grey;
}

.display-flex{
  display: flex;
  flex-direction: row;
}

#ammo-belt{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  height: 125px;
}

#empty-ammo{
  margin-top: 45px;
}

#ammo{
  height: 100px;
  display: inline-flex;
}

#ammo>div{
  height: 100%;
  width: auto;
}

#shield-belt{
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  height: 100px;
}

#shield{
  height: 50px;
  display: inline-flex;
}

#shield>div{
  height: 100%;
  width: auto;
}

.highlight{
  color: #F0433A;
}
